{% load static %}

<!DOCTYPE HTML>
<html lang="en">
  <head>
  	
    <title>Traveler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="FreeHTML5.co" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Glyphicon Examples -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    
    <!-- Animate.css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <!-- Theme style  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
     <script>
            if ( window.history.replaceState ) {
                window.history.replaceState( null, null, window.location.href );
            }
    </script>

	</head>
	<body class="img js-fullheight" style="background-image: url({% static 'images/bg.jpg' %});">
	
    <div id="page">
    <!-- <div class="page-inner"> -->
   <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">
            <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div id="gtco-logo"><a href="{% url 'index' %}">Traveler <em>.</em></a></div>
                </div>
                <div class="col-xs-8 text-right menu-1">
                    <ul>
                        <li><a href="{% url 'destination' %}"><span class="glyphicon glyphicon-plane"></span>  Destination</a></li>
                        <li class="has-dropdown">
                            <a href="/"><span class="glyphicon glyphicon-cog"></span>  Services</a>
                            <ul class="dropdown">
                                <li><a href="{% url 'hotel_view_products' %}"><span class="glyphicon glyphicon-bed"></span> Hotels</a></li>
                            </ul>
                        </li>
                        <!-- <li><a href="#">View Products</a></li> -->
                        <li><a href="{% url 'contact' %}"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a></li>
                        {% if request.session.email %}
                        <li><a href="{% url 'mywishlist' %}"><span class="glyphicon glyphicon-heart"></span> Wishlist({{request.session.wishlist_count}})</a></li>
                        <li><a href="{% url 'mycart' %}"><span class="glyphicon glyphicon-shopping-cart"></span> My Cart({{request.session.cart_count}})</a></li>
                            <li class="has-dropdown">
                                <a href="#"><span class="glyphicon glyphicon-user"></span> {{request.session.fname}}</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'change_password' %}"><span class="glyphicon glyphicon-edit"></span> Change Password</a></li>  
                                    <li><a href="{% url 'edit_profile' %}"><span class="glyphicon glyphicon-edit"></span> Edit Profile</a></li>
                                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout {{request.session.fname}}</a></li>
                                </ul>
                            </li>
                            <li><img src="{{request.session.image}}" width="40px" height="40px"></li>
                        {% else %}
                            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>    
                        {% endif %}
                    </ul>   
                </div>
            </div>
            
        </div>
    </nav>

	<section class="ftco-section">
		<div class="containers">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">
                        {% if msg %}
                            {{msg}}
                        {% endif %}
                    </h3>
		      	<h3 class="mb-4 text-center">Enter New Password</h3>
		      	<form name="enter_new_password" action="{% url 'update_password' %}" method="post" class="signin-form">
                    {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" class="forms-control" name="email" value="{{email}}">
                </div>
	            <div class="form-group">
	              <input id="password-field" name="npassword" type="password" class="forms-control" placeholder="Enter New Password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
                <div class="form-group">
                  <input id="password-field" name="cnpassword" type="password" class="forms-control" placeholder="Enter Confirm New Password" required>
                  <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
	            <div class="form-group">
	            	<button type="submit" name="action" class="forms-control btn btn-primary submit px-3">Update Password</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">Remember Me
							<input type="checkbox" checked>
							<span class="checkmark"></span>
						</label>
                    </div>
	            </div>
	          </form>
		      </div>
				</div>
			</div>
		</div>
	</section>
	</div>
	<script src="{% static 'js/jquerys.min.js' %}"></script>
	<script src="{% static 'js/poppers.js' %}"></script>
	<script src="{% static 'js/bootstraps.min.js' %}"></script>
	<script src="{% static 'js/mains.js' %}"></script>

	</body>
</html>