{% load static %}

<!DOCTYPE HTML>
<!--
    Traveler by freehtml5.co
    Twitter: http://twitter.com/fh5co
    URL: http://freehtml5.co
-->
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Traveler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="FreeHTML5.co" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Glyphicon Examples -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    
    <!-- Animate.css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <!-- Theme style  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <script>
            if ( window.history.replaceState ) {
                window.history.replaceState( null, null, window.location.href );
            }
    </script>

    </head>
    <body>
        
    <div class="gtco-loader"></div>
    
    <div id="page">

    
    <!-- <div class="page-inner"> -->
    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">
            <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div id="gtco-logo"><a href="{% url 'seller_index' %}">Traveler <em>.</em></a></div>
                </div>
                <div class="col-xs-8 text-right menu-1">
                    <ul>
                        <li class="has-dropdown">
                            <a href="#"><span class="glyphicon glyphicon-plane"></span>  Travel</a>
                            <ul class="dropdown">
                                <li><a href="{% url 'seller_add_flight' %}"><span class="glyphicon glyphicon-plane"></span>  Flights</a></li>
                                <li><a href="{% url 'seller_add_cab' %}"><img src="{% static 'images/cab1.png' %}" height="20" width="20">  Cabs</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown"><a href="#"><span class="glyphicon glyphicon-cog"></span>  Services</a>
                            <ul class="dropdown">
                                <li><a href="{% url 'seller_add_hotel' %}"><span class="glyphicon glyphicon-bed"></span> Hotels</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'seller_add_hotelgallery' %} "><span class="glyphicon glyphicon-film"></span> Hotel Gallery</a></li> 
                        <li><a href="{% url 'seller_view_products' %}"><span class="glyphicon glyphicon-briefcase"></span>  View Products</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> My Orders</a></li>

                        {% if request.session.email %}
                        <li class="has-dropdown">
                            <a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a>
                            <ul class="dropdown">
                                <li><a href="{% url 'seller_change_password' %}"><span class="glyphicon glyphicon-edit"></span>Change Password</a></li>   
                                <li><a href="{% url 'seller_edit_profile' %}"><span class="glyphicon glyphicon-edit"></span> Edit Profile</a></li>
                                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout {{request.session.fname}}</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'seller_edit_profile' %}"><img src="{{request.session.image}}" width="40px" height="40px"></a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        {% endif %}
                    </ul>   
                </div>
            </div>
            
        </div>
    </nav>
    
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url({% static 'images/hotel_wide.jpg' %})">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-left">
                    <div class="row row-mt-15em">

                        <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                            <span class="intro-text-small">Adding hotels</span>
                            <h1>Add Hotel in Gallery</h1>   
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </header>
    
    
    <div class="gtco-section border-bottom">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 animate-box">
                    <h3>Add Hotel Gallery</h3>
                    {% if msg %}
                        <span style="color:blue;">{{msg}}</span>
                    {% endif %}
                    <form name="seller_add_hotelgallery" method="post" action="{% url 'seller_add_hotelgallery' %} " enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row form-group">
                            <div class="col-md-12">
                                <select name="hotel_name" id="hotel_name" class="form-control">
                                    <option disabled="disabled" selected="selected">Select hotel</option>
                                    <option value="The Paradise Inn">The Paradise Inn</option>
                                    <option value="Hotel deLuxe">Hotel deLuxe</option>
                                    <option value="Four Seasons">Four Seasons</option>
                                    <option value="Hi-Way Inn">Hi-Way Inn</option>
                                    <option value="Candlewood Suites">Candlewood Suites</option>
                                    <option value="Cute Mountains">Cute Mountains</option>
                                    <option value="Hotel Bliss">Hotel Bliss</option>
                                </select>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="file" name="hotel_image" id="image" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" name="action" value="Add hotel Gallery" class="btn btn-primary">
                        </div>

                    </form>     
                </div>
                    <div class="col-md-5 col-md-push-1 animate-box"></div>
                </div>
            </div>
        </div>
    </div>

    <footer id="gtco-footer" role="contentinfo">
        <div class="gtco-container">
            <div class="row row-p   b-md">

                <div class="col-md-4">
                    <div class="gtco-widget">
                        <h3>About Us</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eos molestias quod sint ipsum possimus temporibus officia iste perspiciatis consectetur in fugiat repudiandae cum. Totam cupiditate nostrum ut neque ab?</p>
                    </div>
                </div>

                <div class="col-md-2 col-md-push-1">
                    <div class="gtco-widget">
                        <h3>Destination</h3>
                        <ul class="gtco-footer-links">
                            <li><a href="#">Europe</a></li>
                            <li><a href="#">Australia</a></li>
                            <li><a href="#">Asia</a></li>
                            <li><a href="#">Canada</a></li>
                            <li><a href="#">Dubai</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-md-push-1">
                    <div class="gtco-widget">
                        <h3>Hotels</h3>
                        <ul class="gtco-footer-links">
                            <li><a href="#">Luxe Hotel</a></li>
                            <li><a href="#">Italy 5 Star hotel</a></li>
                            <li><a href="#">Dubai Hotel</a></li>
                            <li><a href="#">Deluxe Hotel</a></li>
                            <li><a href="#">BoraBora Hotel</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-md-push-1">
                    <div class="gtco-widget">
                        <h3>Get In Touch</h3>
                        <ul class="gtco-quick-contact">
                            <li><a href="#"><i class="icon-phone"></i> +1 234 567 890</a></li>
                            <li><a href="#"><i class="icon-mail2"></i> info@freehtml5.co</a></li>
                            <li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="row copyright">
                <div class="col-md-12">
                    <p class="pull-left">
                        <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
                        <small class="block">Designed by <a href="https://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small>
                    </p>
                    <p class="pull-right">
                        <ul class="gtco-social-icons pull-right">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul>
                    </p>
                </div>
            </div>

        </div>
    </footer>
    <!-- </div> -->

    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>
    
    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- jQuery Easing -->
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Waypoints -->
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <!-- Carousel -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- countTo -->
    <script src="{% static 'js/jquery.countTo.js' %}"></script>

    <!-- Stellar Parallax -->
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>

    <!-- Magnific Popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup-options.js' %}"></script>
    
    <!-- Datepicker -->
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    

    <!-- Main -->
    <script src="{% static 'js/main.js' %}"></script>

    </body>
</html>